<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-Fall of01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of04.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of05.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,106},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,106},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
            <key>skeleton-Fall of09.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,106},{180,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,106}}</string>
                <key>sourceSize</key>
                <string>{180,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>samara_fall.png</string>
            <key>size</key>
            <string>{900,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbf746203ebddd57ea50dc5e134ee063:b50516fe69473335c1a82010caa6dc19:1ee9645120379a8a13276e017a25c69e$</string>
            <key>textureFileName</key>
            <string>samara_fall.png</string>
        </dict>
    </dict>
</plist>
